.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;
}

body {
  background-color: #1f1717;
}

h1 {
  margin: 30px;
  font-family: "helvetica", cursive;
  text-shadow: 3px 0 #f4bf96;
  font-size: 6rem;
  color: #4ecca3;
}

p {
  font-size: 2rem;
  color: #00a9ff;
  font-family: "roboto", cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #fcf5ed;
  text-align: center;
  font-family: "roboto", cursive;
}
