.navbar{
  font-family: 'Montserrat', sans-serif;

}
.dropdown-item{
  font-family: 'Ubuntu', sans-serif;
}
.top{
  text-align: center;
  background-color: /*#f78259;*/   /*#eb4559;*/  #084177;
  color: white;
}
.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #fde2e2;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #005082;
  font-size: 8rem;
  color: #000839;
}

p {
  font-size: 2rem;
  color: #005082;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #005082;
  text-align: center;
  /*font-family: 'Indie Flower', cursive;
*/
}
